  <%= form_for(micropost) do |f| %>

    <%= render 'layouts/error_messages', model: f.object %>

    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>
    <%= f.submit yield(:button_text), class: 'btn btn-primary btn-block' %>
  <% end %>
