/* forms */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/*.favorites-like_button-item .fa {
  font-size: 1px;
  margin-right: 3px;
}
*/
.like-btn {
  color: #8899a6
}

.like-btn-unlike {
  color: #ff2581
}
